@CHARSET "UTF-8";

.crm-two-panel-page #crm_context_panel {
    /* default with for context panel */
    width:28em;
}

.crm-two-panel-page .crm-context-panel {
	width: 28em;
}
.ui-dialog .crm-two-panel-page {
	min-width: 900px;
}
.ui-dialog .crm-two-panel-page .crm-main-panel {
    font-size: 90%;
    width: 100%;
}
.ui-dialog .crm-two-panel-page .crm-context-panel {
    width: 20em;
}

.crm-loading-box {
	/* class "crm-loading-on" add background on same item */
}

.crm-loading-on {
	background:transparent url(images/ajax-loader.gif) no-repeat 100% 0%;
}

.crm-order-address {
	
	border:#ccc 1px solid;
	background:#fff;
	padding:.8em 1.8em;
	margin:0 .5em;
}


.crm-shoppingcart-tableview .widget-table-header td {
	white-space:nowrap;
}

.crm-orderitem-edit-tableview .widget-lineedit,
.crm-orderitem-edit-tableview .widget-textedit	 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	border:#ddd 1px solid;
	background-color:#fff;
    margin: -1px 0 0;
	padding:.2em 0;
}



.crm-order-add-item {
	text-align:right;
}



.crm-titled-address {
	min-width:15em;
	max-width:40em;
	
	white-space: normal;
	display: -moz-inline-stack;
	display: inline-block;
}



.crm-note-date {
	font-style:italic;
}


.crm-long-description {
	font-style:italic;
	font-weight:normal;
	color:#777;
}















.crm-file-full-frame .crm-folder-view {
	padding-top: 2em;
}
.crm-file-full-frame .crm-folder-view.icon-top-48 .widget-icon  {
	width:120px;
}



.crm-file-full-frame .widget-toolbar {
	padding: 2px 2px 2px 12px;
	display:block;
}

/*
.crm-file-full-frame .widget-toolbar .crm-instant-form {
	margin-top: 0.5em;
}
*/
.crm-instant-form {
	display: none;
}
.crm-file-full-frame .widget-toolbar .widget-submitbutton {
	font-size: 11px;
	background: #555 ! important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #666;
	color: #eee;
	padding: 1px;
}
.crm-file-full-frame .widget-toolbar input {
	background: #888;
	border: 1px solid #999;
}

.crm-file-full-frame .widget-toolbar .widget-filepicker-add {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	background: transparent !important;
}


.crm-file-details {
	margin: 1em .3em .3em .3em;
	padding:.4em;
	border:#aaa 1px solid;
	background:#fff;	
}

.crm-file-details .widget-pair .first {
	white-space:nowrap;
	padding:.6em 0 0 0;
	
}


.crm-file-details .widget-pair .second {
	padding:.1em 0 0 1.5em;
	font-weight:bold;
}






#crm_email_assistantframe,
#crm_email_assistantframe_cc,
#crm_email_assistantframe_bcc {
	display: none;
}

#crm_email_button_add_recipient,
#crm_email_button_add_recipient_cc,
#crm_email_button_add_recipient_bcc {
	display: none;
}


.crm-status-level1 {
	color: #000;
}
.crm-status-level2 {
	color: #555;
}






.crm-emptyframe-placeholder {
	display: block !important;
	background: #fff;
	border: 1px solid #aaa;
	padding: 1em;
    margin: 1em;
    border-radius: 8px;
	font-size: 18pt;
    font-weight: normal;
    text-align: center;
    opacity: 0.25;
}





.crm-counter-label {
    background: none repeat scroll 0 0 #B0B0B0;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    padding: 1px 8px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}


img.crm-address-map,
.crm-address-map img {
    padding: 2px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-webkit-background-clip: padding;
	background-color: #fff;
	opacity: 0.7;
/*    border: 1px solid #ddd; */	
}



.crm-two-panel-page #crm_main_panel {
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}




.crm-page textarea {
    resize: vertical !important;
}



.crm-current-status {
    font-weight: bold;
}

.widget-frame.crm-error {
	margin: 2em;
	padding: 1em;
    border: 2px solid #d44;

    background-color: #fee;
    background: -moz-linear-gradient(top, #ffcccc, #ffeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdddd), to(#ffeeee));

    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='ffffdddd', EndColorStr='ffffeeee', GradientType=0);
    border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-webkit-background-clip: padding-box;
}
.widget-frame.crm-error h1,
.widget-frame.crm-error h2,
.widget-frame.crm-error h3,
.widget-frame.crm-error h4 {
    color: #b33;
}
.widget-label.crm-error {
    color: #b33;	
}



.widget-textedit.crm-task-description {
    min-height: 6em;	
}

.crm-toolbar.widget-layout-flow {
    white-space: nowrap;	
}

.crm-nowrap {
    white-space: nowrap;
}

.crm-deleted {
	text-decoration: line-through !important;
	opacity: 0.5;
}

.crm-color-preview {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    height: 14px;
    width: 14px;
}

.crm-fullwidth {
	width: 100%;
}

.crm-shoppingcart-cardframe,
.widget-section.crm-cardframe {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.5);
}
.widget-section.crm-cardframe .widget-section-content {
    padding: 4px 4px 0;
}





.crm-shopadmin-icon-panel {
	border:#eee 1px solid;
	background:#fafafa;
	margin:0 1em 2em 1em;
	padding:.7em;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	border-radius:.5em;
}


.crm-shopadmin-icon-panel h3 {

	color:#aaa !important;
	margin-bottom:1.5em !important;
	margin-top:.5em !important;
}


.crm-shopadmin-icon-panel .widget-link {
	margin:.5em;
	padding:.7em;
	border:#fafafa 1px solid;	
	-moz-border-radius:.5em;
	
	display: -moz-inline-block;
	display: inline-block;
	
	min-width:10em;
	text-align:center;
}


.crm-shopadmin-icon-panel .widget-link:hover {
	border:#eee 1px solid;
	background:#fff;	
}


.crm-shopadmin-icon-panel a {
	
	color:#000;	
}


.crm-shoppingcart-buttons {
	padding:2em;
	
}


.crm-contact-password-token {
	margin:.5em auto;
	padding:.8em;
	max-width: 710px;
	
	border: 1px solid rgba(0,0,0,0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.025);
}


.crm-contact-password-token a {
	text-decoration:underline;
}


.crm-dialog-button {
	border:#ccc 1px solid;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background-color: #eee;
	
	background-image: -webkit-linear-gradient(top,#fff,#eee);
	background-image: -moz-linear-gradient(top,#fff,#eee);
	background-image: -ms-linear-gradient(top,#fff,#eee);
	background-image: -o-linear-gradient(top,#fff,#eee);
	background-image: linear-gradient(top,#fff,#eee);
	
	display: -moz-inline-stack;
	display: inline-block;
	
	font-weight:bold;
	color:#000;
	
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
}



a.crm-dialog-button {
	padding:.2em .5em;
	margin:.6em .5em;
}



.crm-shoppingcart-status-editor {
	
	border:#ccc 1px solid;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background-color: #eee;
	
	background-image: -webkit-linear-gradient(top,#fff,#eee);
	background-image: -moz-linear-gradient(top,#fff,#eee);
	background-image: -ms-linear-gradient(top,#fff,#eee);
	background-image: -o-linear-gradient(top,#fff,#eee);
	background-image: linear-gradient(top,#fff,#eee);
	
	display: -moz-inline-stack;
	display: inline-block;
	
	font-weight:bold;
	color:#000;
	
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
	
	margin:0 0 3em 2em;
	padding:.5em 3em 0 3em;
}




.crm-metafields {
	border-top:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
	
	padding:1em 0em;
	margin:1em 0;
	
}




.crm-shopadmin-home {
	margin-top:1em;
}


.crm-portlet-panel {
	padding:.2em;
	vertical-align:top;
}



.widget-table-body .disabled,
.widget-table-body .disabled a {
	text-decoration: line-through;
}

.widget-table-body .empty span,
.widget-table-body .empty a {
	opacity:.65;
	font-style:italic;
}


.crm-waiting-comments-editor .widget-section {
	
	border:#999 1px solid;
	padding:.1em;
}



.crm-circle {
	width:10px;
	height:10px;
	border-radius: 5px;
	display:inline-block;
}


.crm-article-packaging-edit,
.crm-article-packaging-edit td,
.crm-article-packaging-edit input,
.crm-article-packaging-edit select,
form .crm-article-packaging-edit .widget-label {
	font-size:9pt;
}

.crm-article-packaging-edit td {
	padding:6px 4px !important;
	white-space:nowrap;
}


.crm-articlepackaging-notsaved {
	color:grey;
}



/* icons */





textarea.widget-textedit, input[type="text"], input[type="password"], input[type="checkbox"] {
    min-height: 22px;
}

.crm-listitem {
    padding: 1em;
    border-top: 1px dotted #ddd;
}
.crm-listitem.crm-selected {
    background: none repeat scroll 0 0 rgba(200, 200, 200, 0.3);
    border: 1px solid rgba(200, 200, 200, 0.6);
    border-radius: 6px 6px 6px 6px;
    padding: 1em;
}


.crm-contact-newsletter-subscriptions .widget-section-header h5 {
	margin:.2em 0 0 0;
	color:#000;
	font-size:90%;
}

.crm-contact-newsletter-subscriptions .widget-section-header h6 {
	font-weight:normal;
	font-size:10px;
	margin:0 0 .2em 0;
	line-height:0.7em;
}



.crm-article-attachements {
    margin:1.5em 0 0 0;
}

.widget-table-row.task-late {
	background-color: rgb(255, 240, 240) !important;
}


.widget-table-row.task-completed {
    background-color: rgb(240, 255, 240) !important;
}